# Import all required libraries and import dataset

https://www.prefeitura.sp.gov.br/cidade/secretarias/licenciamento/desenvolvimento_urbano/dados_estatisticos/
http://smul.prefeitura.sp.gov.br/criminalidade/
ttp://smul.prefeitura.sp.gov.br/contrastes_urbanos/
ttps://www.ipea.gov.br/atlasviolencia/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import scipy
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [3]:
import dtale

In [4]:
"""Dataset extracted from http://catalogo.governoaberto.sp.gov.br/dataset/45-infocrim-informacoes-criminais/resource/6e74f774-0a28-40bc-90e3-c267d1f2fc5f
Government Open SP is an initiative of the Government of the State of São Paulo, to make available, through the internet, 
government documents,information and data in the public domain for free use by society"""

df = pd.read_excel('MDIP_2013_2021.xlsx')
df

,CIDADE_ELABORACAO,SEC_ELABORACAO,DEP_ELABORACAO,NUM_BO,ANO_BO,DATA_FATO,dia,mês,ano,MÊS OCOR,...,DESCR_TIPOLOCAL,LOGRADOURO,NUMERO_LOGRADOURO,LATITUDE,LONGITUDE,NATUREZAS,CONDUTA,DESDOBRAMENTO,FLAG_VITIMA_FATAL,DATAHORA_REGISTRO_BO
0,S.PAULO,DHPP - DEP. HOM. PROTECAO PESSOA,DHPP,2,2013,2013-01-01 00:00:00,1.0,1.0,2013.0,1,...,Via pública,R LUIS MATHEUS,1,-23.542701,-46.424923,Homicídio simples (art. 121),NaN,NaN,Sim,2013-01-01 00:00:00
1,S.PAULO,DHPP - DEP. HOM. PROTECAO PESSOA,DHPP,4,2013,2013-01-01 00:00:00,1.0,1.0,2013.0,1,...,Residência,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,NaN,NaN,NaN,Resistência (art. 329),NaN,NaN,Sim,2013-01-01 00:00:00
2,S.PAULO,DHPP - DEP. HOM. PROTECAO PESSOA,DHPP,6,2013,2013-01-02 00:00:00,2.0,1.0,2013.0,1,...,Residência,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,NaN,NaN,NaN,Ato Infracional,NaN,NaN,Sim,2013-01-02 00:00:00
3,BAURU,DEL.SEC.BAURU,DEINTER 4 - BAURU,9,2013,2013-01-30 00:00:00,30.0,1.0,2013.0,1,...,Via pública,R SANTA AGUEDA,96,-22.313722,-49.031686,Homicídio simples (art. 121),NaN,NaN,Sim,2013-01-31 00:00:00
4,S.PAULO,DHPP - DEP. HOM. PROTECAO PESSOA,DHPP,9,2013,2013-01-03 00:00:00,3.0,1.0,2013.0,1,...,Via pública,R ORMINDA PINTO VIELA,6,0,0,Resistência (art. 329),NaN,NaN,Sim,2013-01-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,ARACATUBA,DEL.SEC.ARACATUBA,DEINTER 10 - ARAÇATUBA,7995,2021,2021-08-30 00:00:00,30.0,8.0,2021.0,8,...,Via Pública,RUA LUIZ PEREIRA BARRETO,76,NaN,NaN,Homicídio simples (art. 121),NaN,Morte decorrente de intervenção Policial,Sim,2021-08-30 00:00:00
6996,GUARULHOS,DEL.SEC.GUARULHOS,DEMACRO,4225,2021,2021-08-31 00:00:00,31.0,8.0,2021.0,8,...,Via Pública,"RUA PÔRTO VELHO,",890,NaN,NaN,Homicídio simples (art. 121),NaN,NaN,Sim,2021-09-01 00:00:00
6997,S.PAULO,DHPP - DEP. HOM. PROTECAO PESSOA,DHPP,342,2021,2021-08-31 00:00:00,31.0,8.0,2021.0,8,...,Residência,DA VEDAÇÃO DA DIVULGAÇÃO DOS DADOS RELATIVOS,NaN,NaN,NaN,Homicídio simples (art. 121),NaN,"Art. 329 - Opor-se à execução de ato legal, me...",Sim,2021-08-31 00:00:00
6998,S.ANDRE,DEL.SEC.SANTO ANDRÉ,DEMACRO,3053,2021,2021-08-31 00:00:00,31.0,8.0,2021.0,8,...,Via pública,RUA OZANAN,27,-23.632879,-46.52286,"Roubo (art. 157), Comunicação de Óbito",OUTROS,NaN,Sim,2021-08-31 00:00:00
6999,S.PAULO,DEL.SEC.1º CENTRO,DECAP,4759,2021,2021-08-31 00:00:00,31.0,8.0,2021.0,8,...,Via pública,AVENIDA DA LIBERDADE,863,-23.560432,-46.638123,Homicídio simples (art. 121),INTERIOR ESTABELECIMENTO,"Art. 157 - Subtrair coisa móvel alheia, para s...",Sim,2021-08-31 00:00:00

In [63]:
df.columns

Index(['CIDADE_ELABORACAO', 'SEC_ELABORACAO', 'DEP_ELABORACAO', 'NUM_BO',
       'ANO_BO', 'DATA_FATO', 'dia', 'mês', 'ano', 'MÊS OCOR', 'ANO OCOR',
       'DP_ELABORACAO', 'COORPORAÇÃO', 'SITUAÇÃO', 'ID_DELEGACIA',
       'MUNICIPIO_CIRC', 'DEPARTAMENTO_\nCIRC', 'SECCIONAL_CIRC',
       'CIRCUNSCRIÇÃO', 'DESCR_TIPO_PESSOA', 'SEXO_PESSOA', 'IDADE_PESSOA',
       'COR', 'DATA_NASCIMENTO_PESSOA', 'DESCR_PROFISSAO', 'HORA_FATO',
       'DESCR_TIPOLOCAL', 'LOGRADOURO', 'NUMERO_LOGRADOURO', 'LATITUDE',
       'LONGITUDE', 'NATUREZAS', 'CONDUTA', 'DESDOBRAMENTO',
       'FLAG_VITIMA_FATAL', 'DATAHORA_REGISTRO_BO'],
      dtype='object')

In [5]:
df['COR'].value_counts()

Parda                   3695
Branca                  2337
Preta                    651
Outros                   157
NÃO INFORMADO            150
REGISTRADO NA PF           4
Amarela                    3
Branca                     2
Parda                      1
Name: COR, dtype: int64

# Exploratory Data Analysis

### Analise shape, info and targeted columns

In [65]:
# How many lives and columns I have in the original data
df.shape

(7000, 36)

In [66]:
# A concise summary of our dataframe: including the index and column dtypes, non-null values and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CIDADE_ELABORACAO       7000 non-null   object
 1   SEC_ELABORACAO          7000 non-null   object
 2   DEP_ELABORACAO          7000 non-null   object
 3   NUM_BO                  7000 non-null   object
 4   ANO_BO                  7000 non-null   int64
 5   DATA_FATO               7000 non-null   object
 6   dia                     6987 non-null   float64
 7   mês                     6987 non-null   float64
 8   ano                     6987 non-null   float64
 9   MÊS OCOR                7000 non-null   int64
 10  ANO OCOR                7000 non-null   int64
 11  DP_ELABORACAO           7000 non-null   object
 12  COORPORAÇÃO             7000 non-null   object
 13  SITUAÇÃO                7000 non-null   object
 14  ID_DELEGACIA            7000 non-null   object
 15  MUNICIPIO_CIRC          7000 non-null   object
 16  DEPARTAMENTO_
CIRC      7000 non-null   object
 17  SECCIONAL_CIRC          7000 non-null   object
 18  CIRCUNSCRIÇÃO           7000 non-null   object
 19  DESCR_TIPO_PESSOA       7000 non-null   object
 20  SEXO_PESSOA             7000 non-null   object
 21  IDADE_PESSOA            7000 non-null   object
 22  COR                     7000 non-null   object
 23  DATA_NASCIMENTO_PESSOA  7000 non-null   object
 24  DESCR_PROFISSAO         7000 non-null   object
 25  HORA_FATO               7000 non-null   object
 26  DESCR_TIPOLOCAL         7000 non-null   object
 27  LOGRADOURO              7000 non-null   object
 28  NUMERO_LOGRADOURO       5975 non-null   object
 29  LATITUDE                5852 non-null   object
 30  LONGITUDE               5852 non-null   object
 31  NATUREZAS               7000 non-null   object
 32  CONDUTA                 3233 non-null   object
 33  DESDOBRAMENTO           4809 non-null   object
 34  FLAG_VITIMA_FATAL       7000 non-null   object
 35  DATAHORA_REGISTRO_BO    5940 non-null   object
dtypes: float64(3), int64(3), object(30)
memory usage: 1.9+ MB

In [67]:
df['NATUREZAS'].value_counts()

Homicídio simples (art. 121)                                                                                                                                                              2494
Roubo (art. 157)                                                                                                                                                                           793
Homicídio simples (art. 121), Roubo (art. 157)                                                                                                                                             334
Homicídio simples (art. 121), Resistência (art. 329)                                                                                                                                       181
A.I.-Roubo (art. 157)                                                                                                                                                                      177
                                                                                                                                                                                          ...
Drogas sem autorização ou em desacordo (Art.33, caput), Homicídio simples (art. 121), Localização/Apreensão de objeto, Posse ou porte ilegal de arma de fogo de uso restrito (Art. 16)       1
Homicídio simples (art. 121), Roubo (art. 157), Roubo (art. 157), Localização/Apreensão e Entrega de veículo                                                                                 1
Roubo (art. 157), Roubo (art. 157), Roubo (art. 157), Homicídio simples (art. 121), Resistência (art. 329)                                                                                   1
Resistência (art. 329), Homicídio simples (art. 121), Porte ilegal de arma de fogo de uso permitido (Art. 14)                                                                                1
Roubo (art. 157), Comunicação de Óbito                                                                                                                                                       1
Name: NATUREZAS, Length: 710, dtype: int64

In [68]:
df.columns

Index(['CIDADE_ELABORACAO', 'SEC_ELABORACAO', 'DEP_ELABORACAO', 'NUM_BO',
       'ANO_BO', 'DATA_FATO', 'dia', 'mês', 'ano', 'MÊS OCOR', 'ANO OCOR',
       'DP_ELABORACAO', 'COORPORAÇÃO', 'SITUAÇÃO', 'ID_DELEGACIA',
       'MUNICIPIO_CIRC', 'DEPARTAMENTO_\nCIRC', 'SECCIONAL_CIRC',
       'CIRCUNSCRIÇÃO', 'DESCR_TIPO_PESSOA', 'SEXO_PESSOA', 'IDADE_PESSOA',
       'COR', 'DATA_NASCIMENTO_PESSOA', 'DESCR_PROFISSAO', 'HORA_FATO',
       'DESCR_TIPOLOCAL', 'LOGRADOURO', 'NUMERO_LOGRADOURO', 'LATITUDE',
       'LONGITUDE', 'NATUREZAS', 'CONDUTA', 'DESDOBRAMENTO',
       'FLAG_VITIMA_FATAL', 'DATAHORA_REGISTRO_BO'],
      dtype='object')

In [69]:
df['ID_DELEGACIA'].value_counts()

200100    2461
40203      125
30212      103
70942      102
120607      92
          ...
40105        1
90627        1
280500       1
80113        1
70212        1
Name: ID_DELEGACIA, Length: 554, dtype: int64

In [83]:
# A summary with information regarding the sex of the victims
df['SEXO'].value_counts()

Masculino           6935
NÃO INFORMADO         34
Feminino              25
REGISTRADO NA PF       4
Indefinido             2
Name: SEXO, dtype: int64

In [84]:
df[['LATITUDE', 'LONGITUDE']].isnull().sum()

LATITUDE     1148
LONGITUDE    1148
dtype: int64

In [88]:
# A summary with information regarding the victim's age
pd.set_option("display.max_rows", 50)
df['IDADE'].value_counts().sort_values()

10                  1
57                  1
68                  1
65                  1
63                  1
                 ...
20                390
19                402
17                439
18                473
NÃO INFORMADO    1581
Name: IDADE, Length: 63, dtype: int64

In [ ]:
# Information of homicide victims by year
df['ano'].value_counts()

In [86]:
# Information regarding the Racial profile of the victims 
df['COR'].value_counts()

Parda                   3695
Branca                  2337
Preta                    651
Outros                   157
NÃO INFORMADO            150
REGISTRADO NA PF           4
Amarela                    3
Branca                     2
Parda                      1
Name: COR, dtype: int64

In [ ]:
df['COR'].isnull().sum()

In [71]:
# Checking the amount of null values in the 'CONDUTA' column
df['CONDUTA'].isnull().sum()

3767

In [72]:
# Checking the amount of null values in the 'DESDOBRAMENTO' column
df['DESDOBRAMENTO'].isnull().sum()

2191

In [73]:
# Analise values in 'DESDOBRAMENTO' column
df['DESDOBRAMENTO'].value_counts()

Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),                                                                                                                                                                                                                                                                                                                  1807
Morte decorrente de intervenção policial (RES. SSP 05 - 07/01/2013)                                                                                                                                                                                                                                                                                                                    1154
Lesão corporal decorrente de i,                                                                                                                                                                                                                                                                                                                                                         616
Art. 329 - Opor-se à execução de ato legal, mediante violência ou ameaça a funcionário competente para executá-lo ou a quem lhe esteja prestando auxílio:&#x0D; Pena - detenção, de 2 (dois) meses a 2 (dois) anos.&#x0D; ,Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),                                                                                        171
Art. 157 - Subtrair coisa móvel alheia, para si ou para outrem, mediante grave ameaça ou violência a pessoa, ou depois de havê-la, por qualquer meio, reduzido à impossibilidade de resistência:&#x0D; Pena - reclusão, de 4 (quatro) a 10 (dez) anos, e multa.&#x0D; ,Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),                                            121
                                                                                                                                                                                                                                                                                                                                                                                       ...
I - mediante paga ou promessa de recompensa, ou por outro motivo torpe,Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),                                                                                                                                                                                                                                              1
Art. 311 - Adulterar ou remarcar número de chassi ou qualquer sinal identificador de veículo automotor, de seu componente ou equipamento: (Redação dada pela Lei nº 9.426, de 24.12.1996)&#x0D; Pena - reclusão, de 3 (três) a 6 (seis) anos, e multa. (Redação dada pela Lei nº 9.426, de 24.12.1996)&#x0D; ,Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),       1
caput. Subtrair coisa móvel alheia, mediante grave ameaça ou violência a pessoa,Lesão corporal decorrente de intervenção policial (RES. SSP 05 - 07/01/2013),Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),                                                                                                                                                        1
§ 3º Se da violência resulta morte, a reclusão é de 20 (vinte) a 30 (trinta) anos, sem prejuízo da multa. (Redação dada pela Lei nº 9.426, de 24.12.1996)&#x0D; &#x0D; ,Lesão corporal decorrente de intervenção policial (Res. SSP 05/2013),Nas mesmas penas incorrem quem (Par. único)&#x00;,                                                                                           1
APLICATIVO DE MOBILIDADE URBANA                                                                                                                                                                                                                                                                                                                                                           1
Name: DESDOBRAMENTO, Length: 173, dtype: int64

### Rename columns and select targeted columns

In [74]:
# Renaming of some our columns
df.rename(columns = {'CIDADE_ELABORACAO': 'CIDADE'}, inplace = True)
df.rename(columns = {'SEXO_PESSOA': 'SEXO'}, inplace = True)
df.rename(columns = {'IDADE_PESSOA': 'IDADE'}, inplace = True)
df.rename(columns = {'ANO OCOR': 'ANO'}, inplace = True)

In [75]:
# Selection of the columns we will be working on
df1 = df[['ANO', 'CIDADE', 'NATUREZAS','COR', 'SEXO', 'IDADE']]
df1

,ANO,CIDADE,NATUREZAS,COR,SEXO,IDADE
0,2013,S.PAULO,Homicídio simples (art. 121),Branca,Masculino,20
1,2013,S.PAULO,Resistência (art. 329),Parda,Masculino,25
2,2013,S.PAULO,Ato Infracional,Branca,Masculino,NÃO INFORMADO
3,2013,BAURU,Homicídio simples (art. 121),Branca,Masculino,18
4,2013,S.PAULO,Resistência (art. 329),Parda,Masculino,17
...,...,...,...,...,...,...
6995,2021,ARACATUBA,Homicídio simples (art. 121),Branca,Masculino,NÃO INFORMADO
6996,2021,GUARULHOS,Homicídio simples (art. 121),Parda,Masculino,17
6997,2021,S.PAULO,Homicídio simples (art. 121),Branca,Masculino,31
6998,2021,S.ANDRE,"Roubo (art. 157), Comunicação de Óbito",Parda,Masculino,21
6999,2021,S.PAULO,Homicídio simples (art. 121),NÃO INFORMADO,Masculino,NÃO INFORMADO

In [76]:
df['COR'].value_counts()

Parda                   3695
Branca                  2337
Preta                    651
Outros                   157
NÃO INFORMADO            150
REGISTRADO NA PF           4
Amarela                    3
Branca                     2
Parda                      1
Name: COR, dtype: int64

### Creating new variables for analysis

In [77]:
# Creating a variable 'sao_paulo' and then checking its lenght, that is the amount of homicides only in S.Paulo city
sao_paulo = df1[df1['CIDADE'].str.contains("S.PAULO")]
len(sao_paulo.index)

3013

In [78]:
# Creating a variable 'sp_ano2019' that receives the column 'ANO' and year 2019 and then we check its lenght, that is the amount of homicides IN 2019 in our dataset
sp_ano2019 = df1.loc[df1['ANO'] == 2019]
len(sp_ano2019.index)

867

In [79]:
# Checking the racial profile of people killed in 2019
sp_ano2019['COR'].value_counts()

Parda               448
Branca              304
Preta                80
NÃO INFORMADO        30
REGISTRADO NA PF      3
Amarela               2
Name: COR, dtype: int64

In [80]:
# Creating a variable 'resistência' that receives the column 'NATUREZAS' and the rows in it that contains the word "Resistência" and then we check its lenght, that is the amount of homicides in our dataframe 
# that the police declared it to be caused by the victim's resistance
resistência = df[df['NATUREZAS'].str.contains("Resistência")]
len(resistência.index)

1246

In [81]:
# Creating a variable 'resistência2019' that receives the column 'NATUREZAS' and the rows in it that contains the word "Resistência" in 2019 and then we check its lenght, that is the amount of homicides in our dataframe 
# that the police declared it to be caused by the victim's resistance in 2019
resistência2019 = sp_ano2019[sp_ano2019['NATUREZAS'].str.contains("Resistência")]
len(resistência2019.index)

172

In [ ]:
# Checking the racial profile of victims in the city of Sao Paulo
sao_paulo['COR'].value_counts()

# Encoding our columns to facilitate linear regression

In [89]:
# Encoding some of our columns
for column in df1:
    if df1[column].dtype == 'object':
        df1[column] = df1[column].astype('category')
        df1[column + '_cat'] = df1[column].cat.codes

In [90]:
df2 = df1[['CIDADE_cat', 'COR_cat', 'SEXO_cat', 'IDADE_cat']]

In [91]:
df2

      CIDADE_cat  COR_cat  SEXO_cat  IDADE_cat
0            243        1         2         10
1            243        5         2         15
2            243        1         2         61
3             26        1         2          8
4            243        5         2          7
...          ...      ...       ...        ...
6995           8        1         2         61
6996          94        5         2          7
6997         243        1         2         21
6998         227        5         2         11
6999         243        3         2         61

[7000 rows x 4 columns]

# Visualizations

In [100]:
# Draw a Line Plot to depict the relationship between the continuous variable (ANO)  and the number of lines in each year (ANO), that is the number of homicides in each year
sns.set_style("darkgrid", {"grid.color": ".6", "grid.linestyle": ":"})
sns.lineplot(x= df1['ANO'].value_counts().index, y=df1['ANO'].value_counts())
plt.ylim(0)

(0.0, 7281.75)

In [101]:
# get correlations
df_corr = df.corr()
np.ones_like(df_corr, dtype=np.bool)
mask = np.triu(np.ones_like(df_corr, dtype=np.bool))

#Plot using suplots
fig, ax = plt.subplots(figsize=(10, 8))
# mask
mask = np.triu(np.ones_like(df_corr, dtype=np.bool))
# adjust mask and df
mask = mask[1:, :-1]
corr = df_corr.iloc[1:,:-1].copy()
# plot heatmap
sns.heatmap(corr, mask=mask, annot=True, fmt=".2f", cmap='Pastel1_r',
           vmin=-1, vmax=1, cbar_kws={"shrink": .8})
# yticks
plt.yticks(rotation=0)
plt.show()

In [94]:
x= sns.pairplot(df1)

In [95]:
profile.to_file("your_report.html")

NameError: name 'profile' is not defined

In [ ]:
# Use D-Tale, a combination of a Flask back-end and a React front-end to bring you an easy way to view & analyze Pandas data structures and open it in your browser
d = dtale.show(df)
d.open_browser()

In [ ]:
nan_mask = addresses['LATITUDE'].isnull()
addresses[~nan_mask]

In [ ]:
import folium
import pandas as pd

In [ ]:
m = folium.Map(location=[-23.5505,-46.6333], zoom_start=14)
m

In [ ]:
addresses = pd.read_csv('address_coords.csv', sep=',')

In [ ]:
regioes = pd.read_excel('vertices_regioes_sao_paulo.xls')
regioes

In [ ]:
regioes['NOME']=='Leste'

In [ ]:
regioes[regioes['NOME']=='Leste']

In [ ]:
from turfpy.measurement import boolean_point_in_polygon
from geojson import Point, Polygon, Feature

In [ ]:
rec_array = regioes[regioes['NOME']=='Leste'][['POINT_X', 'POINT_Y']].to_records(index = False).tolist()
rec_array

In [ ]:
pol_rec_array = Polygon([rec_array])
pol_rec_array

# Further EDA

## Group by explicative variables

In [ ]:
df.columns

In [ ]:
# Creating a new dataframe only with the columns we will be analysing
df_group = df[['SEXO','COR','SECCIONAL_CIRC', 'IDADE']]
df_group

### Group by age

In [ ]:
# Creating a new column 'idade_num' in order to separate the values incorrectly filled with "Registrado na PF" instead of the victim's age
df_group['idade_num'] = np.where(df_group['IDADE'] == 'NÃO INFORMADO', -1,
                                 np.where(df_group['IDADE'] == 'REGISTRADO NA PF', -1, df_group['IDADE']))
df_group

In [ ]:
# Changing the data type of our column to int
df_group['idade_num'] = df_group['idade_num'].astype(int)

In [ ]:
# Checking the 'IDADE'column
df_group['IDADE'].value_counts()

In [ ]:
# Creating a new column 'idades' that contain different age groups 
df_group['idades'] = np.where(df_group['idade_num'] == -1, 'NI', 
         np.where(df_group['idade_num'] <= 18, 'Menor de idade', 
                  np.where(df_group['idade_num'] <= 59, 'Adulto',
                           np.where(df_group['idade_num'] <= 100, 'Idoso', 'Ancião'))))

In [ ]:
# Checking the quantity of people killed by the police by
age group
df_group['idades'].value_counts()

### Group by racial profile

In [ ]:
# Checking the racial profile of people killed
df_group['COR'].value_counts()

In [ ]:
# Creating a new column 'perfil_racial' that contain 2 different racial profiles (black and not black)
df_group['perfil_racial'] = np.where(df_group['COR'] == 'Preta', 'Negro', 
         np.where(df_group['COR'] == 'Parda', 'Negro', 
                  np.where(df_group['COR'] == 'REGISTRADO NA PF', 'NÃO INFORMADO', 
                           np.where(df_group['COR'] == 'Outros', 'NÃO INFORMADO',
                                    np.where(df_group['COR'] == 'NÃO INFORMADO', 'NÃO INFORMADO','Não negro')))))

In [ ]:
df_group

In [ ]:
df_group['perfil_racial'].value_counts()

In [ ]:
# Creating a new data frame with 
df_f = df_group.groupby(['SEXO','COR','SECCIONAL_CIRC', 'idades']).size().reset_index()
df_f

In [ ]:
# Creating a new data frame with the new colum

df_f1 = df_group.groupby(['SEXO','SECCIONAL_CIRC', 'idades', 'perfil_racial']).size().reset_index()
df_f1.tail(50)

In [ ]:
df.columns

In [ ]:
indexNames = df[(df['SECCIONAL_CIRC'].isin(['DEL.SEC.CARAPICUIBA', 'DEL.SEC.DIADEMA','DEL.SEC.FRANCO DA ROCHA',
                                               'DEL.SEC.GUARULHOS', 'DEL.SEC.MOGI DAS CRUZES', 'DEL.SEC.OSASCO', 'DEL.SEC.S.BERNARDO DO CAMPO',
                                               'DEL.SEC.S.JOSE DO RIO PRETO', 'DEL.SEC.SANTO ANDRÉ', 'DEL.SEC.TABOÃO DA SERRA'])) 
                                               | (df['CIDADE'] != 'S.PAULO')].index
df_sp = df.drop(indexNames)
df_sp['SECCIONAL_CIRC'].value_counts()

In [ ]:
df_sp['SECCIONAL_CIRC'].value_counts()

In [ ]:
# Create target and explicative variables 
X = df_f[['ANO']]
y = df_f['ANO']

# Instantiating model/creating LinearRegression class
model = LinearRegression()

# Training model (inserting our data into the model and generating model.coef_ and model.intercept_)
model.fit(X,y)

# Predict values for X and y
# model.predict(X)

# Analyse model's quality with R2
# r2_score

In [ ]:
df1['COR'].value_counts()

In [ ]:
sns.scatterplot(x = 'COR', y = 'ANO', data = df1)
plt.show()